* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.square {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.announcement {
  margin-top: 1rem;
  font-size: 2rem;
}
.winner {
  color: red;
  margin-top: 1rem;
  font-size: 2rem;
}
.heading {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
.restart {
  background-color: royalblue;
  border: none;
  padding: 10px;
  margin: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
